# Python & Virtual Environment

__pycache__/
venv/
.venv/

# Build Outputs

build/
dist/
Release/

# Project Files

bin/cookies.txt
data/cookies.txt
logs/
.opencode/
.claude/
.agents/
.codex/
.codegraph
graphify-out/
.coverage
.gemini/
opencode.jsonc
GEMINI.md
.pytest_temp/
skills-lock.json

# Media

*.mp4
*.webm
*.zip
