# Python & Virtual Env
__pycache__/
venv/
.venv/

# Build outputs
build/
dist/
Release/

# Project Files
bin/cookies.txt
data/cookies.txt
logs/
.opencode
.agents
.codex
graphify-out
.coverage
.pytest_temp
# Media
*.mp4
*.webm
*.zip