# Python & Virtual Env
__pycache__/
venv/
.venv/

# Build outputs
build_assets/build/
build/
dist/
Release/

# Project Files
bin/cookies.txt
data/cookies.txt
downloads/
logs/
.opencode
.codex
graphify-out
.coverage

# Media
*.mp4
*.webm